* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #efefe9;
}

nav {
    background-color: #413620;
}

nav ul{
    list-style-type: none;
    text-align: right;;
}

nav>ul>li{
    width: 12%;
    display: inline-block;
    line-height: 3em;
    text-align: center;
}

ul>li>a{
    display: block; /* so that the link occupies the whole space */
    text-decoration: none;
    color: white;
}

ul>li>a:hover{
    background-color: #cdd1de;
    color: black;
}

.infoContainer {
    width: auto;
    margin: 8% 12%;
    box-shadow: 3px 3px 10px rgb(65, 65, 65);
    padding: 2% 5%;
    line-height: 2rem;
}

.infoContainer h1 {
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.infoContainer p {
    font-family: Georgia, 'Times New Roman', Times;
    font-size: 1.2rem;
    color:rgb(56, 56, 56);
}

.infoContainer hr {
    width: 80%;
    margin: auto;
}

.infoContainer img {
    margin: 2rem auto;
    width: 100%;
}

.infoContainer button {
    width: 6rem;
    font-family: Georgia, 'Times New Roman', Times;
    font-size: 1.2rem;
    color:rgb(56, 56, 56);
    margin: 2rem 0 2rem auto;
    padding: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infoContainer button:hover {
    opacity: 0.9;
    transform: translateY(1px);
    cursor: pointer;
}

.infoContainer a {
    text-decoration: none;
}

footer {
    background: #1f150f; 
    color: #efefe9;
    height: 5%;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding: 10px;
}


@media screen and (max-width: 760px) {
    .infoContainer {
        margin: 4% 6%;
    }
}
